body {
  font-family: 'Lato', 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.container-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 20px;

}

.home-image {

  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 175px;
  align-items: center;
  justify-self: center;
  border: 2px solid black;

}

.aboutme {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  font-size: 15px;
}

.under-pic {


  grid-column: 1 / -1;
  grid-row: 2 / 3;
  text-align: center;
  line-height: 18px;

}

.recentNews {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  justify-self: center;
  text-align: center;
  line-height: 20px;
}

.more-aboutme {
  display: none;
}

.recentNews a, .under-pic a, .more a {
  color: #5c5b5a;
  text-decoration: none;
  border-bottom: 1px dashed rgb(252, 26, 113);
}

.recentNews a:hover, .under-pic a:hover, .more a:hover{
  color: rgb(252, 26, 113);
  text-decoration: none;
  border-bottom: 1px solid rgb(252, 26, 113);
}

.container-more {

  display: grid;
  grid-template: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 30px;
  margin: 20px;

}

.more-image {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  width: 200px;
  align-items: center;
  justify-self: center;
  border: 2px solid black;

}

.more p {
  margin-bottom: 20px;
  line-height: 20px;
  text-align: center;
}

@media screen and (min-width: 1000px){


  .container-home {
    width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .home-image {
    width: 225px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    top: 110px;
  }

  .aboutme {
    font-size: 18px;
    margin: 100px;
    text-align: center;
    line-height: 25px;
    position: relative;
    top: 30px;
  }

  .intro {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .under-pic {

    margin: 100px;
    line-height: 25px;
    position: relative;
    top: -50px;
  }

  .recentNews {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin: 100px;
    line-height: 25px;

  }
  body {
    font-size: 18px;
  }

  .container-more {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .more p {
    margin-bottom: 30px;
    line-height: 25px;
    text-align: center;
  }

  .more-image {
    width: 350px;
  }
}
