h2 {
	padding: 60px;
	text-align: center;
	background: white;
	color: rgb(8, 8, 8);
	font-size: 25px;
  }

  .w3-content w3-section {
	padding: 60px;
	background: white;
    color: rgb(8, 8, 8);
    display: block;
  }



p {
	padding: 60px;
	text-align: center;
	background: white;
	color: rgb(8, 8, 8);
	font-size: 30px;
  }
