html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
  /* font-size: 18px; */
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
h3 {
  font-weight: 500;
}
p{
  margin:10px;
}
.contact-p{
  margin: 5vw;
}
.skip a{
	background: white;
	left: 0;
	padding: 6px;
	position: absolute;
	top: -40px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
}

.skip :focus{
	top: 0;
  }

/* 
  .container-home {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
  }

  .home-image {

    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .aboutme {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  .recentnews {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  } */

  nav{
    padding-top: 20px;
    padding-bottom: 20px;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    display: block;
    padding-right: 20px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover{
    color: rgb(252, 26, 113);
}
nav .nav-active {
  font-weight: bold;
  text-shadow: 1px 1px rgb(170, 169, 169);
}

/* header */
header {margin: 5vw; border-bottom: 2px solid lightgrey;}

/* footer */
footer{ margin-top: 20px;font-size:11pt;background-color:rgb(211, 211, 211); padding-top:20px}

footer h4{ color: rgb(100, 100, 100);display:block; text-align: center; line-height: 15pt;}

footer .social-icons { text-align:center; }

footer .social-icons  > li{ padding:20px; display: inline-block; }

footer .social-icons  > li > a{ border: none; color:rgb(252, 26, 113); text-align:center; font-size: 25pt;}

footer .social-icons > li:hover a{color:#fff}

/* style-home.css*/

.container-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 20px;

}

.home-image {

  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 175px;
  align-items: center;
  justify-self: center;
  border: 2px solid black;

}

.aboutme {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  font-size: 15px;
}

.under-pic { display: none;}
#under-pic-link {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  line-height: 18px;
  text-align: left;
  position: relative;
  left: 10px;
}

.recentNews {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  justify-self: center;
  text-align: left;
  line-height: 20px;
}


.recentNews a, #under-pic-link a, .more a {
  color: #5c5b5a;
  text-decoration: none;
  border-bottom: 1px dashed rgb(252, 26, 113);
}

.recentNews a:hover, #under-pic-link a:hover, .more a:hover{
  color: rgb(252, 26, 113);
  text-decoration: none;
  border-bottom: 1px solid rgb(252, 26, 113);
}

.container-more {

  display: grid;
  grid-template: auto;
  grid-template-rows: auto auto;
  grid-row-gap: 30px;
  margin: 20px;

}

.more-image {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  width: 200px;
  align-items: center;
  justify-self: center;
  border: 2px solid black;

}

.more p {
  margin-bottom: 20px;
  line-height: 20px;
  text-align: center;
}

@media screen and (min-width: 960px){
  header {margin: 2vw;}
  header nav ul{ text-align: right; }
  .contact-p{
    margin: 2vw;
  }
  
  nav li{
    display: inline-block;
  }

  

  .container-home {
    width: 1300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .home-image {
    width: 225px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    top: 110px;
  }

  .aboutme {
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    text-align: center;
    line-height: 30px;
    position: relative;
    top: 30px;
  }

  .intro {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .under-pic {
    text-align: center;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 30px;

  }

  #under-pic-link a{
    display: inline-block;
    justify-self: center;

  }

  #under-pic-link {
    text-align: center;
  }

  .recentNews {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin: 100px;
    line-height: 25px;

  }
  body {
    font-size: 18px;
  }

  .container-more {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }

  .more p {
    margin-bottom: 30px;
    line-height: 25px;
    text-align: center;
  }

  .more-image {
    width: 350px;
  }
  .recentNews { text-align: center;}

}

/* research.html */
.container-research{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  justify-content: space-around;
}

.scrollinfo{
  display: none;
}
.scrollinfo-m a{
  margin-left: 20px;
}

.dates{
  text-align: center;
  font-size: 25px;
  background: rgba(252, 26, 113);
  color: white;
  letter-spacing: 2px;
}

/* Publications */
#publications-header{
  text-align: center;
  font-size: 30px;
  padding: 20px;
  text-shadow: 1px 1px grey;
  letter-spacing: 4px;
  text-transform: uppercase;

}



a{
  color: rgb(53, 50, 50);
  border-bottom: 1px dashed rgb(252, 26, 113);
  font-size: 19px;
  text-decoration: none;
}

a:hover{
  color: rgb(252, 26, 113);
  text-decoration: none;
  border-bottom: 1px solid;
}

#pub19{
  background: lightgray;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#pub18{
  background: whitesmoke;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#pub17{
  background: lightgray;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#pub16{
  background: whitesmoke;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#pub15{
  background: lightgray;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#pub14{
  background: whitesmoke;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#pub13{
  background: lightgray;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#pub11{
  background: whitesmoke;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

/* Selected Press */
#selectedpress-header{
  text-align: center;
  font-size: 30px;
  padding: 20px;
  padding-top: 40px;
  text-shadow: 1px 1px grey;
  letter-spacing: 4px;
  text-transform: uppercase;
}



#press18{
  background: lightgray;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#press16{
  background: whitesmoke;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#press13{
  background: lightgray;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#press12{
  background: whitesmoke;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 960px){
  .container-research{
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-rows: auto auto;
      justify-content: space-around;
  }
  /* scroll */
  .scrollinfo{
      display: inline;
      margin: 20px;
  }

  #selectedpress {
      grid-column-start: 2;
      /* grid-row-start:2; */
  }
  .scrollinfo-m{
      display: none;
  }
  .res {
      display: inline-block;
      text-decoration: none;
      font-size: 16px;
      border:none;
      color:gray;
      margin-left: 20px;
  }
}