/* Research */
body{
    background-image: url(../images/background5.jpg);
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1rem;
    line-height: 1.5;
}

nav{
    padding-top: 20px;
}

nav ul{
    list-style-type: none;
    text-align: left;
}

nav li{
    display: inline-block;
    padding-right: 20px;
}

nav a{
    color: black;
    border: none;
} 

nav a:hover{
    text-decoration: none;
} 

nav .current{
    font-weight: bold;
    text-shadow: 2px 2px 2px grey;
}

.container-research{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    justify-content: space-around;
}

p#dates{
    text-align: center;
    font-size: 25px;
    background: rgba(252, 26, 113);
    color: white;
    letter-spacing: 2px;
}

/* Publications */
#publications-header{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    text-shadow: 1px 1px grey;
    letter-spacing: 4px;
    text-transform: uppercase;

}

.publications{
    /* padding: 20px; */
}

a{
    color: rgb(53, 50, 50);
    border-bottom: 1px dashed rgb(252, 26, 113);
    font-size: 19px;
    text-decoration: none;
}

a:hover{
    color: rgb(252, 26, 113);
    text-decoration: none;
    border-bottom: 1px solid;
}

#pub19{
    background: lightgray;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#pub18{
    background: whitesmoke;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#pub17{
    background: lightgray;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#pub16{
    background: whitesmoke;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#pub15{
    background: lightgray;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#pub14{
    background: whitesmoke;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#pub13{
    background: lightgray;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#pub11{
    background: whitesmoke;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/* Selected Press */
#selectedpress-header{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    padding-top: 40px;
    text-shadow: 1px 1px grey;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.selectedpress{
    /* padding: 20px; */
}

#press18{
    background: lightgray;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#press16{
    background: whitesmoke;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#press13{
    background: lightgray;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#press12{
    background: whitesmoke;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

@media screen and (min-width: 1000px){
    .container-research{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        justify-content: space-around;
    }
    /* Publications */
    /* #pub19{
        background: lightgray;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #pub18{
        background: lightgray;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #pub17{
        background: lightgray;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #pub16{
        background: lightgray;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #pub15{
        background: lightgray;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #pub14{
        background: lightgray;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #pub13{
        background: lightgray;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #pub11{
        background: lightgray;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    } */
    /* Selected Press  */
    /* #press18{
        background: whitesmoke;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #press16{
        background: whitesmoke;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #press13{
        background: whitesmoke;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    #press12{
        background: whitesmoke;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }  */

}

/* #research-header{
    background-attachment: fixed;
    background-image: url(../images/travel3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 300px;
    width: 100%;
    grid-row: 2/3;
} */