.container-home {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
}

.home-image {

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.aboutme {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.recentnews {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
